<div fxLayout="column" fxLayoutAlign="start center" fxFlexFill>

  <div fxLayout="row" fxLayoutAlign="start center">
    <div>
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="item">
      </mat-form-field>
    </div>
    <div>
      <button mat-flat-button (click)="addToList()">Add</button>
    </div>
  </div>

  <div class="list" *ngFor="let item of items" fxFlex>
    <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex>
      <div>
          {{item}}
      </div>
      <div>
          icon
      </div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
